.category {
    color: white;
    margin-left: 20px;
    
}

.row_posters {
    display: flex;
    overflow-y: hidden; 
    overflow-x: scroll;
    margin-left: 20px;
    padding-bottom: 20px;
}

.row_posters::-webkit-scrollbar {
    display: none;
}